/* Reset styles */


*{
    margin: 0;
    font-family: serif;
    letter-spacing: 4px;
    color: rgb(34, 34, 34);
}

/* Header section */

header{
    /* background-color: rgb(220, 225, 225); */
    margin: 10px;
}

.title h1{
    text-align: center;
    font-size: 40px;
    
}

nav > ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
    text-decoration: underline;
}

/* Main */

.main_one{
    height: 350px;
    background-image: url('new-york-1175747_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.main_one_center{
    background-color: white;
   position: relative;
   top: 140px;

}

.main_one_center> h5, h2{
    padding: 10px;
    text-align: center;
}

.main_second{
margin-top: 60px;
}

.main_second > h1, h4{
 text-align: center;
 padding: 10px;
}

.main_third{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}

.main_third_img img{
    width: 150px;
    height: 120px;

}

.img_card{
display: flex;
}

.main_third_descr{
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    padding-left: 30px;
    padding-right: 30px;
}

#Team{
    margin-top: 100px;
    text-align: center;
}

.main_team{
    height: 450px;
    background-image: url('building-7844703_640.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.8; */
    
}

.team_cards{
 margin: auto;
    /* background-color: rgb(74, 130, 180); */
    display: flex;
    width: 900px;
    position: relative;
    top: 40px;
    align-items: center;
    justify-content: space-around;
    
}

.team_card img{
    width: 200px;
}

.detail > h2, h5{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
}

footer{
    margin-top: 70px;
}

.mail{
    margin-top: 60px;
}

.copyright{
    margin-top: 50px;
}